* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
  }
 header {
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 40px;

 }
 h1 {
    color: gold;
 }
.buttonbox{
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}
 .button {
    border-left: solid white;
    border-right: solid white;
    margin-right: 3px;
    padding-right:3px;
    padding-left: 3px;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    height: 40px;
 }
  .button:hover {
    background-color: red;
  }
  .players {
    display: flex;
  }
  #player1 {
    background-color: red;
    width: 50vw;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #player2 {
    background-color: gold;
    width: 50vw;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  }
  h2 {
    font-size: 30px;
  }
  .player1name {
    font-size: 20px;
  }
  .player2name {
    font-size: 20px;
  }
  .messagebar {
    background-color: black;
    height: 45px;
    color:white;
    font-size: 30px;
    text-align: center;
  }

  /*Board*/
  .board {
    background-color: dodgerblue;
  }
  
  td {
    height: 50px;
    width: 50px;
    background-color: red;
  }
  th {
    height: 50px;
    width: 50px;
    background-color: white;
  }
  colgroup :hover {
    display: flex;
    background-color: gold;
  }
